<hr />
    <div class="d-flex">
        <app-flip-card-control style="width:20%;"
                (hint) = "onDisplayHintFromFlipCardControl()"
                (replay) = "onReplayFromFlipCardControl()"
                (changeTheme) = "onChangeThemeFromFlipCardControl()"
                #flipCardControlComponent
                >
        </app-flip-card-control>

        <app-flip-card style="width:80%;"
                (winMsg)="displayFlipCardWinMsg($event)"
                [fcHintClick]="fcHintClick"
                [fcReplayClick]="fcReplayClick"
                [fcChangeThemeClick]="fcChangeThemeClick"
        ></app-flip-card>
    </div>
<hr />