.title{
    height: 50px;
    font-size: 20px;
    background: rgba(91, 95, 102, 0.701);
    width: 80%;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
}
.displayHint{
    border: 3px solid red;
}

.borderTime{
    height: 60px;
    width: 50%;
    text-align: center;
    line-height: 50px;
    background: rgb(79, 133, 221);
    font-size: 16px;
    /* float: right; */
    margin-left: 200px;
    padding-left: 1px;
}
.time{
    height: 60px;
    width: 30%;
    text-align: center;
    line-height: 50px;
    border: 1px solid rgb(20, 174, 79);
    font-size: 16px;
    border-radius: 10px;
    margin-left: 100px;
}